:root {
	/* Theme Colors */
	--theme-primary: #FF5B3E;
	--theme-primary-hover: hsl(0, 0%, 20%);
	--theme-on-primary: #1A1A1A;

	--theme-bg: #fff;
	--theme-on-bg: #000;

	--theme-surface-1: #f2f2f2;
	--theme-on-surface-1: #000;

	--theme-surface-2: #FFD84D;
	--theme-on-surface-2: #000;

	/* Theme Shapes */
	/* Set this to 0 if you want all of the rounded cards, images, etc to be straight edges */
	--theme-shape-radius: clamp(1rem, 2rem, 3rem);
	--theme-button-border-radius: 3rem;

	/* Theme Transition */
	--theme-transition: 0.2s ease-in-out;

	/* Theme Layout */
	--section-margin: 7.5rem;
	--container-max-width: 1440px;
	--container-max-width-narrow: 960px;
	--container-padding: 0 1rem;

	--theme-blog-post-header-width: 1200px;

	/* Theme Fonts */
	--theme-font-family-serif: 'Khand', -apple-system, BlinkMacSystemFont,
		sans-serif;
	--theme-font-family-sans: 'Supreme', -apple-system, BlinkMacSystemFont,
		sans-serif;
}
